*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #8460ed, #ff1252);
}
.menu{
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.menu li a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transform: rotate(calc(360deg / -8 * var(--i)));
    color: #000;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    transition: 0.5s;
    font-size: 2rem;
    font-weight: bold;
}
.menu li a:hover{
    color: red;
}
.menu li{
    position:absolute;
    list-style: none;
    left: 0;
    transform-origin: 100px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(100px);
    
}
.menu.active li{
    transform: rotate(calc(360deg / 8 * var(--i)));
    /* left: 0; */
}
.toggle{
    position: absolute;
    width: 70px;
    height: 70px;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0px 4px rgba(0,0,0,0.15);
    font-size: 1.2rem;
    transition: transform 1.25s;
}
.menu.active .toggle{
    transform: rotate(315deg);
}
